{% extends "base.html" %}
{% load static from staticfiles %}

{% block content %}

<div class="container-fluid px-0">
    <div class="row navbar mb-5">
        <div class="col-7 mx-auto centered my-5">
            <h2 class="text-white">What is XY?</h2>
            <p class="text-white my-5">
                "Some inspirational quote that will make you realise that you really need this PT all of a sudden
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Pariatur at odio fugiat tenetur accusamus animi, inventore, perspiciatis alias, dolorum sed 
                numquam nam necessitatibus! Veniam dicta fugiat excepturi doloremque consequatur voluptatibus?"
            </p>
            <p class="text-white my-5">
                "Some inspirational quote that will make you realise that you really need this PT all of a sudden
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Pariatur at odio fugiat tenetur accusamus animi, inventore, perspiciatis alias, dolorum sed 
                numquam nam necessitatibus! Veniam dicta fugiat excepturi doloremque consequatur voluptatibus?"
            </p>
            <p class="text-white my-5">
                "Some inspirational quote that will make you realise that you really need this PT all of a sudden
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Pariatur at odio fugiat tenetur accusamus animi, inventore, perspiciatis alias, dolorum sed 
                numquam nam necessitatibus! Veniam dicta fugiat excepturi doloremque consequatur voluptatibus?"
            </p>
            <p class="mt-4">
                <a class="btn btn-outline-primary contact-me-button" href="{% url 'products' %}">Get Started</a>
            </p>
        </div>
    </div>
    <div class="row about-me">
        <div class="col-5 my-auto">
            <div class="row">
                <div class="col-10 ml-auto">
                    <img class="d-block w-100" src="{{ MEDIA_URL }}images/gym/grayscale-dumbbell.jpg" alt="Picture of XYfitness">
                </div>
            </div>
        </div>
        <div class="col-7 my-auto">
            <div class="row pl-4">
                <div class="col-10">
                    <div class="pr-3">
                        <h1 class="">A bit about me...</h1>
                        <p class="mt-3">My name is XYfitness, I am class Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Pariatur at odio fugiat tenetur accusamus animi, inventore, perspiciatis alias, dolorum sed 
                        numquam nam necessitatibus! Veniam dicta fugiat excepturi doloremque consequatur voluptatibus?</p>
                        <p class="mt-3 mb-3">My name is XYfitness, I am class Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Pariatur at odio fugiat tenetur accusamus animi, inventore, perspiciatis alias, dolorum sed 
                        numquam nam necessitatibus! Veniam dicta fugiat excepturi doloremque consequatur voluptatibus?</p>
                        <p class="mt-3">
                            Check out some <a href="{% url 'all_reviews' %}"><u>results</u></a> from customers and see for yourself!
                        </p>
                        <p class="mt-4">
                            <a class=" btn btn-outline-primary" href="{% url 'contact' %}">Contact</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-4 grey-bg">
        <div class="col-7 my-5 mx-auto centered">
            <div class="row">
                <div class="col my-5">
                    <h2 class="bold w-50 mx-auto p-3 dark-border">How we work</h2>
                </div>
            </div>
            <div class="row my-2">
                <div class="col">
                    <h3>1. Beginning</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Odio eos repellendus, magni delectus iure, consequuntur vero 
                    voluptatibus tenetur minima labore voluptates minus distinctio 
                    fuga porro libero ipsam culpa quod eius.</p>
                </div>
            </div>
            <div class="row my-2">
                <div class="col">
                    <h3>2. Middle Bit</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Odio eos repellendus, magni delectus iure, consequuntur vero 
                    voluptatibus tenetur minima labore voluptates minus distinctio 
                    fuga porro libero ipsam culpa quod eius.</p>
                </div>
            </div>
            <div class="row mt-2 mb-5">
                <div class="col">
                    <h3>3. End</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Odio eos repellendus, magni delectus iure, consequuntur vero 
                    voluptatibus tenetur minima labore voluptates minus distinctio 
                    fuga porro libero ipsam culpa quod eius.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-7 mx-auto centered">
            <h2 class="my-5">Our Transformations last</h2>
            <p class=" my-5">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Pariatur at odio fugiat tenetur accusamus animi, inventore, perspiciatis alias, dolorum sed 
            numquam nam necessitatibus! Veniam dicta fugiat excepturi doloremque consequatur voluptatibus?</p>
            <p class=" my-5">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Pariatur at odio fugiat tenetur accusamus animi, inventore, perspiciatis alias, dolorum sed 
            numquam nam necessitatibus! Veniam dicta fugiat excepturi doloremque consequatur voluptatibus?</p>
            <p class=" my-5">
            We look forward to hearing from you</p>
        </div>
    </div>
</div>

{% endblock %}