{% extends "base.html" %}

{% block title %}XYfitenss | About Me{% endblock %}

{% block content %}

<div class="container-fluid px-0">
    <div class="row darkest-bg mb-5">
        <div class="col-7 mx-auto centered my-5">
            <h2 class="text-white">Why XY?</h2>
            <p class="text-white my-5">
                Here at XYfitness, we prefer to instill the mentality of giving our clients the tools to better
                themselves. In a way we are giving them the fishing rod, as opposed to just the fish. What we mean
                by this is that following our methods and plans a client will eventually eliminate their bad habits 
                subconsciously, and being healthier and fitter will just come naturally to them.
            </p>
            <p class="text-white my-5">
                We do this through improving people's fitnes regime, with detailed exercise plans for all levels.
                Improving their eating habits, with easy, quick and delicious sample recipes included in our plans.
                Finally, improving their mindsets, along with these habitual changes it is very important the client
                believes they can achieve their goals.
            </p>
            <p class="text-white my-5">
                The reason why Xfitness is so successful and our clients are so happy is because we undersatand
                that changing too many things at a time leads to a higher quit rate. Here it is our goal to change 
                your regime, one small habit at a time, until it becomes part of your everyday thinking. This 
                ultimately leads to our clients achieving their goals and indeed exceeding them, with the help of our plans.
            </p>
            <p class="mt-4">
                <a class="btn btn-outline-primary contact-btn" href="{% url 'products' %}"
                data-toggle="tooltip" data-placement="bottom" title="View our plans">Get Started</a>
            </p>
        </div>
    </div>
    <div class="row my-5">
        <div class="col-11 col-md-4 xs-mx-middle ml-auto my-auto">
            <div class="row">
                <div class="col-10 col-md-11 col-lg-9 ml-auto xs-mx-middle">
                    <img class="d-block img-fluid about-image" src="{{ MEDIA_URL }}images/gym/man-doing-pull-ups.jpg" alt="Pic of XYfitness">
                </div>
            </div>
        </div>
        <div class="col-10 xs-mx-middle col-md-7 my-auto">
            <div class="row px-3">
                <div class="col-12 col-md-10 col-lg-9 xs-mx-middle">
                    <div class="">
                        <h1 class="mt-2">A bit about me...</h1>
                        <p class="mt-3">My name is Jim, and I am the owner of XYfitness. As a kid I was always playing sports
                        and was generally very active. I was always interested in being fitter, one I got older this became more 
                        and more of an interest for me and eventually developed into my passion. Leading me to pursue a career as a PT.</p>
                        <p class="mt-3 mb-3">My journey really began out coaching friends or willing family members, I never really considered
                        myself much of a PT, but once I started seeing the reults these people were getting and how it changed their everyday
                        lives, my mind was made up fairly quickly. Thus, XYfintess was born and we haven't looked back since.</p>
                        <p class="mt-3">
                            Check out some <a href="{% url 'testimonials' %}"><u>results</u></a> from customers and see for yourself!
                        </p>
                        <p class="mt-4">
                            <a class=" btn btn-outline-primary" href="{% url 'contact' %}"
                            data-toggle="tooltip" data-placement="right" title="Send us a quick email">Contact</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-4 grey-bg">
        <div class="col-10 col-md-7 my-5 mx-auto centered">
            <div class="row">
                <div class="col my-5">
                    <h2 class="bold w-75 mx-auto p-3 dark-border">How we work</h2>
                </div>
            </div>
            <div class="row my-2">
                <div class="col">
                    <h3>1. Beginning</h3>
                    <p>We completely understand that you may or may not be a "fitness 
                    expert" as everyone says. That is perfectly fine and our 
                    plans incorporate this. We do not expect you to be able to change 
                    your habits overnight, as this leads to a quicker 'quit' in the end.</p>
                </div>
            </div>
            <div class="row my-2">
                <div class="col">
                    <h3>2. Middle</h3>
                    <p>Our plans try to instill into you one good habit at a time.
                    This leads to less chance of giving up, as if these habits get slowly 
                    integrated into your lifestyle then you, the client are less likely to
                    return your previous ones!</p>
                </div>
            </div>
            <div class="row mt-2 mb-5">
                <div class="col">
                    <h3>3. End</h3>
                    <p>You will then be sustaining these good habits subconsciously, once 
                    this occurs you will be flying and your goals can be achieved. Slow 
                    and stead wins the race here and the easier you integrate these methods 
                    into your lifestyle the less likely your weight is to fluctuate.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-4">
        <div class="col-10 col-md-7 mx-auto centered">
            <h2 class="my-5 w-75 mx-auto border-bottom p-3">Our Work lasts</h2>
            <p class=" my-5">
            At XYfitness our sole effort is on the client, and only the client's best interests
            are at heart. We strive to transform you to be the best version of you, and not with some quick remedy.
            Our plans are a complete and total guide to improve your body in all areas.</p>
            <p class=" my-5">
            We do this by giving you, the client, the tools to succeed in achieving your goals, rather than
            confusing you and showing a quick fix down your throat. Instead, we prefer our clients to learn
            how to be more healthy and fit, all by themselves, for a better future.</p>
            <p class=" my-5">
            We look forward to hearing from you..</p>
            <p class=" my-5">
                <a class=" btn btn-outline-primary" href="{% url 'contact' %}"
                data-toggle="tooltip" data-placement="right" title="Send us a quick email">Get in Touch</a>
            </p>
        </div>
    </div>
</div>

{% endblock %}