{% extends 'base.html' %}

{% block content %}

<div class="container-fluid p-0">
	<div class="row">
		<div class="col">
            <div class="main-pic" style="background-image: url('{{ MEDIA_URL }}images/gym/brick-wall.jpg')">
                <div class="main-pic-text p-3">
                    <h1 class="text-white hero-heading p-3 border-bottom">XYfitness</h1>
                    <h3 class="p-3 my-5 text-white"><em>Build the foundations for a better you..</em></h3>
                    <a href="{% url 'products' %}" class="contact-me-button btn btn-outline-primary p-3 mt-3">Start your journey today</a>
                </div>
            </div>
		</div>
	</div>
</div>

{% if reviews %}
<div class="container-fluid my-4">
    <div class="row mt-5 mb-3">
        <div class="col-4 mx-auto">
            <h1 class="centered index-tests-header border-bottom pb-2">
                <em>What My Clients Say:</em>
            </h1>
        </div>
    </div>
	<div class="row">
		<div class="col">
            {% include 'components/testimonials-slides.html' %}
		</div>
	</div>
</div>
{% endif %}

{% endblock %}