{% extends 'base.html' %}

{% block content %}

<div class="container-fluid p-0">
	<div class="row">
		<div class="col">
            <div class="main-pic" style="background-image: url('{{ MEDIA_URL }}images/gym/brick-wall.jpg')">
                <div class="main-pic-text p-3">
                    <h1 class="text-white hero-heading p-3 border-bottom">XYfitness</h1>
                    <h3 class="p-3 my-5 text-white hero-sub-heading"><em>Build the foundations for a better you!</em></h3>
                    <a href="#info" class="contact-btn btn btn-outline-primary p-3 mt-3"
                    data-toggle="tooltip" data-placement="right" title="Scroll to our more info section">Find out More</a>
                </div>
            </div>
		</div>
	</div>
</div>

<div class="container centered">
    <div class="my-5 row">
        <div class="col mx-auto" id="info">
            <h1 class="border-bottom w-50 mx-auto p-3"><em>What we do</em></h1>
        </div>
    </div>
    <div class="row my-4" >
        <div class="col-md-4 col-10 mx-auto">
            <i class="fas fa-dumbbell fa-4x my-2"></i>
            <h5 class="my-3">Build strength</h5>
            <p class="my-3 p-2">
                Our plans come with incredible detail and all include instructions for tempo, tut 
                (time under tension), and regimes based on levels. Depending eon whether you want
                to increased you want to increase you 1RM, or just lose some belly fat, we have you covered.
            </p>
        </div>
        <div class="col-md-4 col-10 mx-auto">
            <i class="fas fa-utensils fa-4x my-2"></i>
            <h5 class="my-3">Smarter eating</h5>
            <p class="my-3 p-2">
                70% of your body's results are a direct results of what you put into it.
                If you are not eating the right ingredients, then there is very little point spending all those 
                hours in the gym. Our plans are detailed and we understand how hard it is to kick life long habits, 
                so we integrate this into our plans also.
            </p>
        </div>
        <div class="col-md-4 col-10 mx-auto">
            <i class="fas fa-brain fa-4x my-2"></i>
            <h5 class="my-3">Better mindset</h5>
            <p class="my-3 p-2">
                After time yur results will start to be noticed. This can inevitably lead to improvements in 
                everyday life, and make you feel better about yourself, and less conscious of what anyone thinks. 
                Also, lifitng weights is a good way to get rid of any built up aggression!
            </p>
        </div>
    </div>
    <div class="my-5 row">
        <div class="col mx-auto">
            <a href="{% url 'products' %}" class=" btn btn-outline-primary  mt-3"
            data-toggle="tooltip" data-placement="bottom" title="View our plans">Start your Jouney</a>
        </div>
    </div>
</div>

{% if reviews %}
<div class="container-fluid my-4 testimonials-cont" style="background-image: url('{{ MEDIA_URL }}images/gym/gray-barbel-plates.jpg')">
    <div class="row mb-3 testimonails-row-xs">
        <div class="col-11 col-sm-10 col-lg-4 mt-4 mx-auto">
            <h1 class="centered index-tests-header border-bottom pb-3 mt-4">
                <em>What My Clients Say:</em>
            </h1>
        </div>
    </div>
	<div class="row mt-3">
		<div class="col-10 mx-auto my-auto">
            {% include 'components/testimonials-slides.html' %}
		</div>
	</div>
</div>
{% else %}
<div class="container-fluid my-4 testimonials-cont" style="background-image: url('{{ MEDIA_URL }}images/gym/gray-barbel-plates.jpg')">
	<div class="row my-5">
		<div class="col my-5">
            <h2 class="centered my-auto">Lets achieve the best version of you</h2>
		</div>
	</div>
</div>
{% endif %}

<div class="container my-5">
	<div class="row">
        <div class="col-10 col-md-8 mx-auto centered">
            <h1 class="dark-border p-3 centered mx-auto">Our Mission Statement</h1>
            <p class="mt-4">
                We hope to inspire you through our plans to achieve the 
                best version of your body possbile, by giving you the tools to do so.
                By using our plan you will have developed a wealth of knowledge and we 
                hoep that this knowledge could be used to improve others around you.
            </p>
            <p class="my-5">
                I've been doing this a long time and through trial and error, both with 
                ourselves and with clients, I have learned the best formula to your success.
                No it isn't magic and no you will not get ripped overnight, anyone else 
                promising that is lying. However if you're serious about improving your health 
                one step at a time, then so are we.
            </p>
        </div>
    </div>
</div>

<div class="container-fluid my-5 grey-bg">
    <div class="row">
        <div class="col-12 col-md-7 my-5 mx-auto">
            <div class="row">
                <div class="col-10 col-lg-5 mx-auto centered mt-1">
                    <h1 class="border-bottom p-3 centered">Connect</h1>
                </div>
            </div>
            <div class="row centered p-3 my-3">
                <div class="col-4 mx-auto">
                    <a href="https://www.facebook.com/" target="_blank" rel="noopener"
                    data-toggle="tooltip" data-placement="bottom" title="Connect on FB">
                        <i class="fab fa-facebook fa-5x"></i>
                    </a>
                </div>
                <div class="col-4 mx-auto">
                    <a href="https://www.instagram.com/" target="_blank" rel="noopener"
                    data-toggle="tooltip" data-placement="bottom" title="Follow me on Instagram">
                        <i class="fab fa-instagram fa-5x"></i>
                    </a>
                </div>
                <div class="col-4 mx-auto">
                    <a href="https://www.youtube.com/" target="_blank" rel="noopener"
                    data-toggle="tooltip" data-placement="bottom" title="See our Youtube tutorials">
                        <i class="fab fa-youtube fa-5x"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}