{% extends "base.html" %}

{% block title %}Password reset successful{% endblock %}

{% block breadcrumb %}
    <div class="container-fluid my-3 pl-4">
        <div class="row my-3">
            <div class="col pl-3">
                <div id="breadcrumbs" class="bread">
                    Profile - Password reset complete
                </div>
            </div>
        </div>
    </div>
{% endblock breadcrumb %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <p>We've e-mailed you instructions for setting your password to the e-mail address you submitted.</p>
                <p>You should be receiving it shortly.</p>
            </div>
        </div>
    </div>
{% endblock %}