{% extends 'base.html' %}
{% block content %}

<div class="container">
	<div class="row">
		<div class="col">
			<h3>{{ product.name }}</h3>
			<p>{{ product.description }}</p>
			<p>{{ product.price }}</p>
		</div>
	</div>
    <div class="row my-2">
        <div class="col-12">
            <a href="{% url 'review_prod' product.id %}" class="btn btn-primary btn-lg active" role="button"
                aria-pressed="true">Add Review</a>
        </div>
    </div>
</div>


<h3>{{ product.productreview_set.count }} Product Reviews</h3>
{% for review in product.productreview_set.all %}
    <h3>{{ review.title }}</h3>
	<p>{{ review.content }}</p>
	<p>{{ review.user }}</p>
    <p>{{ review.date }}</p>
    <p>"{{ review.product }}"</p>
{% endfor %}


{% endblock %}