{% extends 'base.html' %}
{% block breadcrumb %}
    <div class="container-fluid my-3 pl-4">
        <div class="row">
            <div class="col pl-4">
                <div id="breadcrumbs" class="bread">
                    <a href="/">Home </a> - 
                    <a href="{% url 'products' %}">Products </a>
                    - {{ product.name }}
                </div>
            </div>
        </div>
    </div>
{% endblock breadcrumb %}

{% block content %}

<div class="container">

	<div class="row mt-4">
		<div class="col-6">
            <div class="row">
                <div class="col">
                    {% include 'components/prod-image.html' %} 
                </div>
            </div>
	    </div>

        <div class="col-6">
            <div class="row my-2">
                <div class="col-12">

                    <div class="row">
                        <div class="col-5">
                            <h3 class="border-bottom pb-2">{{ product.name }}</h3>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-10">
                            <p>{{ product.description|truncatewords:15 }}</p>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col">
                            {% for star in stars %}
                                {% if star.avg_review %}
                                    <div class="div">
                                    {% include 'components/starrating.html' %} 
                                    </div>
                                {% endif %} 
                            {% endfor %}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <p><i class="fas fa-euro-sign"> {{ product.price }}</i></p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <form method="post" action="{% url 'cart_add' product.id %}">
                                {% csrf_token %}
                                {% if product.category == "P" %}
                                    <input type="hidden" name="size" value="D" />
                                {% else %}    
                                <div class="row">
                                    <div class="col-md-4">
                                        <input type="hidden" name="size" value="D" />
                                        <label>Size:</label>
                                        <select name="size" type="submit" class="form-control form-control-sm" data-title="Select size" 
                                        data-style="btn-default btn-block" data-menu-style="dropdown-blue">
                                            <option value="XS">Extra Small</option>
                                            <option value="S">Small</option>
                                            <option value="M">Medium</option>
                                            <option value="L">Large</option>
                                            <option value="XL">Extra Large</option>
                                        </select>
                                    </div>
                                </div>
                                {% endif %}
                                <div class="row mt-3">
                                    <div class="col prod-quantity">
                                    {% if product.category == "P" %}
                                        <input type="hidden" name="quantity" value="1" />
                                        <input type="hidden" name="category" value="plan" />
                                    {% else %}
                                        <input class="product-qty count" name="quantity" type="number" min="1" max="50" value="1" required>
                                        <span class="plus">+</span>
                                        <span class="minus">-</span>
                                    {% endif %}
                                    <span>
                                        <button class="btn-outline-success" type="submit">Add to Cart</button>
                                    </span>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    <div class="row my-5 details-nav">
        <div class="col">
            {% include 'components/product-info.html' %} 
        </div>
    </div>

</div>

{% endblock %}