{% extends 'base.html' %}
{% block content %}

<div class="container">

    <div class="row">
        <form action="{% url 'sort' %}" method="get" class="form-inline my-2">
            <select class="custom-select custom-select-lg" name="sort" required>
                    <option value="" disabled selected hidden>Sort</option>
                    <option value="LtoH">Price: Low to </option>
                    <option value="HtoL">Price: High to Low</option>
            </select>
            <button class="btn btn-success" type="submit" name="action">Sort</button>
        </form> 
    </div>



</div>

{% include 'components/prodlist.html' %}


{% if products.has_other_pages %}
  <ul class="pagination">
    {% if products.has_previous %}
      <li><a href="?page={{ products.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in products.paginator.page_range %}
      {% if products.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if products.has_next %}
      <li><a href="?page={{ products.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}

{% endblock %}