{% extends 'base.html' %}

{% block title %}XYfitenss | Search Results{% endblock %}

{% block breadcrumb %}
    <div class="container-fluid my-3 pl-4">
        <div class="row my-3">
            <div class="col pl-3">
                <div id="breadcrumbs" class="bread">
                    <a href="/">Home </a> <i class="fas fa-long-arrow-alt-right"></i> 
                    <a href="{% url 'products' %}">Products </a>
                    <i class="fas fa-long-arrow-alt-right"></i> Search Results
                </div>
            </div>
        </div>
    </div>
{% endblock breadcrumb %}

{% block content %}

<div class="container vh-100">
    <div class="row">
        <div class="col-4 mx-auto p-3">
            <h2 class="border-bottom centered p-3">Search Results:</h2>
        </div>
    </div>
    {% include 'components/prodlist.html' %}
</div>


{% endblock %}