/* general css */

html {
    scroll-behavior: smooth;
}

.centered {
    text-align: center;
}

.form-control {
    height: 45px;
}

.vh-full {
    min-height: 70vh;
}

/* scroll back to top */


#topBtn {
    display: none;
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 999;
    border: none;
    outline: none;
    color: rgba(112, 108, 107, 0.732);
}

#topBtn:hover {
    opacity: 1;
    color: rgba(87, 81, 81, 0.9);
    transition: ease-in-out;
    transition-duration: 0.7s;
}


/* navbar  */


.navbar-brand {
    font-size: 30px;
}

.profile-image {
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.badge-success {
    vertical-align: top;
}

@media screen and (max-width: 1025px) {
.nav-item {
    margin-right: 1em;
}
}

@media screen and (max-width: 450px) {
.nav-item {
    margin-right: 0;
}
}


/* nav search icon */


.overlay {
    height: 100%;
    width: 0;
    position: fixed; 
    z-index: 99; 
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.85);
    overflow-x: hidden; 
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    text-decoration: none;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: rgb(255, 255, 255)
}

.overlay .close-nav-search {
    position: absolute;
    top: 30px;
    right: 60px;
    font-size: 80px;
}

@media screen and (max-width: 415px) {
  .overlay .close-nav-search {
    font-size: 60px;
    top: 25px;
    right: 50px;
  }
}

.nav-search-form {
    border: none;
    height: 80px;
    background-color: rgba(221, 223, 226, 0.401);
    border-radius: 3em;
    font-size: 30px;
    text-align: center;
}

.nav-search-form:focus {
    color: #000000;
    background-color: #fff;
    border-color: #f0f0f0a6;
    outline: 0;
    box-shadow: 0 0 0 0.5rem rgba(206, 198, 198, 0);
}

input[type="text"].nav-search-form::-webkit-input-placeholder {
    font-size: 30px;
    font-style: italic;
    text-align: center;
}

input[type="text"].nav-search-form::-moz-placeholder {
    font-size: 30px;
    font-style: italic;
    text-align: center;
}

.fa-search:hover {
    color: rgba(255, 255, 255, 0.959);
    transition: ease-in-out;
    transition-duration: 0.4s;
    cursor: grab;
}

.fa-search {
    color: #8c8c8c;
}


/* footer */

.footer {
    left: 0;
    bottom: 0;
}

/* home page */


.main-pic {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.4));
    height: 85vh;
    background-color: rgba(0, 0, 0, 0.801);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}

.main-pic-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-heading {
    font-size: 80px;
}

.testimonials-cont {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.4));
    background-color: rgba(0, 0, 0, 0.801);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 400px;
}

.test-para {
    height: 220px;
    overflow-y: hidden;
}

@media screen and (min-width: 1025px) {
.testimonails-row-xs {
    margin-top: 3em;
}
}

@media screen and (max-width: 450px) {
.test-para {
    height: 190px;
    overflow-y: hidden;
}

.testimonails-row-xs {
    margin-top: 0;
}

.hero-heading {
    font-size: 40px;
}
.hero-sub-heading {
    font-size: 20px;
}
}

.fa-instagram:hover {
    color: #b72f80;
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
}

.fa-facebook:hover {
    color: #3b5998;
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
}

.fa-youtube:hover {
    color: #bb0000;
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
}


/* about page */


@media screen and (max-width: 769px) and (min-width: 450px) {
.about-image {
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
}
}


/* products page */


.product {
    width: 100%;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    box-shadow: 2px 2px 5px 2px #77695F;
}

.product:hover {
    width: 100%;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    box-shadow: 2px 2px 15px 2px #77695F;
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
}

@media screen and (min-width: 770px) {
.product-image {
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
}
}

@media screen and (max-width: 769px) and (min-width: 450px) {
.product-image {
    width: 100%;
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
}
}

@media screen and (max-width: 449px) {
.product-image {
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
}
}

.prod-links {
    text-align: center;
}

.details-nav {
    min-height: 500px;
}

.product-qty {
    text-align: center;
}

.add-cart-form {
    display: inline-block;
    width: 80px;
}

.add-cart-button {
    height: 40px;
    box-shadow: none;
    background-color: #4BBF73;
    border: 1px solid rgb(54, 144, 86);
}

@media screen and (max-width: 450px) {
.sort-by-xs {
    width: 40%;
}

.add-cart-button {
    width: 9em;
    height: 45px;
}
}

/* testimonials */


.before-after-pic {
    max-width:230px;
    max-height:250px;
    width: 100%;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1.5em;
}

.add-review-title {
    border-bottom: 1px solid rgb(0, 0, 0);
    width: 60%;
}

@media screen and (max-width: 770px) {
 .add-review-title {
    border-bottom: 1px solid rgb(5, 5, 5);
    width: 80%;
 }
}

.user-image {
    width: 30px;
    height: 30px;
    border-radius: 15px;
}

@media screen and (min-width: 450px) {
.before-after-border {
    border-left: 1px solid rgb(31, 29, 27);
}
}


/* cart page  */


.count {
    font-size: 25px;
    text-align: center;
    width: 75px;
    border-radius: 4px;
}

.plus, .minus {
    cursor: grab;
    color: rgba(0, 0, 0, 0.931);
    }

.minus:hover {
    cursor: grab;
    color: rgba(136, 134, 134, 0.931);
}

.plus:hover {
    cursor: grab;
    color: rgba(136, 134, 134, 0.931);
}

span{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.count::-webkit-outer-spin-button,
.count::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.no-content {
    min-height: 95vh;
}

.cart-prod-pic {
    border-radius: 1.5em;
    min-height: 150px;
}

.update-cart {
    margin-top: 4em;
}

.size-form {
    width: 50%;
}

@media screen and (max-width: 769px) {
.update-cart, .update-input  {
    margin-top: 1em;
}
}

@media screen and (max-width: 450px) {
.size-form {
    width: 75%;
}
}

/* checkout page */


.checkout-pic {
    width: 100%;
    height: 60px;
    background-repeat: no-repeat;
    background-size: cover;
}


/* styling across the page */

.bold {
    font-weight: 999;
}

.fa-star, .fa-star-half-alt {
    color: rgba(177, 177, 21, 0.904);
}

.contact-btn {
    color: #fff;
    border-color: #fff;
}

.contact-btn:hover {
    background-color: #fff;
    border-color: rgb(2, 2, 2);
    color: black;
    transition: ease-in-out;
    transition-duration: 0.5s;
}

.grey-bg {
    background-color: rgba(92, 88, 88, 0.041);
}

.dark-border {
    border-bottom: 1px solid rgba(68, 66, 65, 0.553);
}

.darkest-bg {
    background-color: rgba(0, 0, 0, 0.904);
}

.container, .container-fluid {
    overflow-x: hidden;
}

@media screen and (max-width: 450px) {
.xs-mx-middle {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
}