/* general css */
.centered {
    text-align: center;
}


/* scroll back to top */

#topBtn {
    display: none;
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 1;
    border: none;
    outline: none;
    color: rgba(177, 159, 157, 0.732);
}

#topBtn:hover {
    opacity: 1;
    color: rgba(233, 231, 220, 0.9);
    transition: ease-in-out;
    transition-duration: 0.7s;
}

/* navbar  */

.profile-image {
    width: 40px;
    height: 40px;
    border-radius: 20px;
}


/* home page */
body {
    background-color:#fff;
}


/* products page */

.product {
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
}

.product-image {
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
}

.prod-links {
    text-align: center;
}


/* styling */

.fa-star {
    color: rgba(177, 177, 21, 0.904);
}