/* general css */
.centered {
    text-align: center;
}


/* scroll back to top */

#topBtn {
    display: none;
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 1;
    border: none;
    outline: none;
    color: rgba(177, 159, 157, 0.732);
}

#topBtn:hover {
    opacity: 1;
    color: rgba(233, 231, 220, 0.9);
    transition: ease-in-out;
    transition-duration: 0.7s;
}

/* navbar  */

.profile-image {
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

/* nav search icon */

.overlay {
    height: 100%;
    width: 0;
    position: fixed; 
    z-index: 99; 
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.85);
    overflow-x: hidden; 
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    text-decoration: none;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: rgb(255, 255, 255)
}

.overlay .close-nav-search {
    position: absolute;
    top: 30px;
    right: 60px;
    font-size: 80px;
}

@media screen and (max-width: 415px) {
  .overlay .close-nav-search {
    font-size: 60px;
    top: 25px;
    right: 50px;
  }
}

.nav-search-form {
    border: none;
    height: 80px;
    background-color: rgba(36, 98, 179, 0.601);
    border-radius: 3em;
    font-size: 30px;
    text-align: center;
}

.nav-search-form:focus {
    color: #265c92;
    background-color: #fff;
    border-color: #1d41b8a6;
    outline: 0;
    box-shadow: 0 0 0 0.5rem rgba(206, 198, 198, 0);
}

input[type="text"].nav-search-form::-webkit-input-placeholder {
    font-size: 30px;
    font-style: italic;
    text-align: center;
}

input[type="text"].nav-search-form::-moz-placeholder {
    font-size: 30px;
    font-style: italic;
    text-align: center;
}

.fa-search:hover {
    color: rgba(25, 121, 204, 0.877);
    transition: ease-in-out;
    transition-duration: 0.4s;
    cursor: grab;
}




/* home page */
body {
    background-color:#fff;
}


/* products page */

.product {
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
}

.product-image {
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
}

.prod-links {
    text-align: center;
}

.details-nav {
    height: 500px;
}

.review-section {
    overflow-y: scroll;
    height: 250px;
}



/* styling */

.fa-star, .fa-star-half-alt {
    color: rgba(177, 177, 21, 0.904);
}