/* general css */
.centered {
    text-align: center;
}


/* navbar  */

.profile-image {
    width: 40px;
    height: 40px;
    border-radius: 20px;
}


/* home page */
body {
    background-color:#fff;
}


/* products page */

.product {
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
}

.prod-links {
    text-align: center;
}