/* general css */
.centered {
    text-align: center;
}



/* home page */



/* products page */

.product {
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
}

.prod-links {
    text-align: center;
}