{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block title %}XYfitenss | Checkout{% endblock %}

{% block head_js %}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
    //<![CDATA[
        Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock head_js %}

{% block breadcrumb %}
    <div class="container-fluid my-3 pl-4">
        <div class="row my-2">
            <div class="col-10 col-md-5 mx-auto my-4">
                <div id="breadcrumbs" class="bread d-flex justify-content-around">
                    <a class="checkout-icon centered" href="{% url 'delivery' %}">
                        <i class="fas fa-truck-loading fa-2x check-fa"></i>
                    </a> 
                        <i class="fas fa-greater-than fa-2x my-auto"></i>
                    <a class="checkout-icon centered check-current" href="{% url 'checkout' %}">
                        <i class="far fa-credit-card fa-2x check-fa icon-current"></i>
                    </a> 
                        <i class="fas fa-greater-than fa-2x my-auto"></i> 
                    <a class="tick-icon centered">
                        <i class="fas fa-check fa-2x check-fa" ></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock breadcrumb %}

{% block content %}
<div class="container no-content">
    <div class="row">
        <div class="col-12 col-md-7 col-lg-8 mb-5">
            <div class="row">
                <div class="col-12">

                    <div class="row my-3">
                        <div class="col-8 mx-auto border p-2">
                            <div class="my-4">
                                <p class="mb-3">Delivery Address:
                                    <a href="{% url 'delivery' %}" class="float-right pr-4" >
                                        <small><u>Change</u></small>
                                    </a>
                                </p>
                                <p class="mb-2">{{ name|capfirst }},</p>
                                <p class="mb-2">{{ address|capfirst }}, {{ town|capfirst }}, {{ county|capfirst }}..</p>
                            </div>
                        </div>
                    </div>

                    <form role="form" method="post" id="payment-form" action="{% url 'checkout' %}">
                        {% csrf_token %}
                        <legend class="centered border-bottom w-50 mx-auto mt-5">Payment Method</legend>

                        <div class="row">
                            <div class="col-12">
                                <div class="row my-3">
                                    <div class="col-8 mx-auto">
                                        <div id="credit-card-errors" style="display: none;">
                                            <div class="alert alert-danger error centered" id="stripe-error-message"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col mx-auto">
                                <div class="row">
                                    <div class="col-8 mx-auto">
                                        {{ payment_form | as_bootstrap }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col centered">
                                    {% if total == 0 %}
                                        <button type="button" class="btn btn-primary mt-4" disabled 
                                        data-toggle="tooltip" data-placement="right" title="Can't checkout if you've no items!">
                                            No items in cart
                                        </button>
                                    {% else %}
                                        <input class="btn btn-primary mt-4" id="submit_payment_btn" name="commit" type="submit" value="Submit Payment">
                                    {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        {% include 'components/cart-items.html' %}
    </div>
</div>
{% endblock %}