{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block title %}XYfitenss | Checkout{% endblock %}

{% block head_js %}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
    //<![CDATA[
        Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock head_js %}

{% block breadcrumb %}
    <div class="container-fluid my-3 pl-4">
        <div class="row">
            <div class="col pl-4">
                <div id="breadcrumbs" class="bread">
                    <a href="{% url 'view_cart' %}">Cart </a> - 
                    <a href="{% url 'checkout' %}">Checkout </a>
                    - {{ product.name }}
                </div>
            </div>
        </div>
    </div>
{% endblock breadcrumb %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-8">
            <div class="row">
                <div class="col-12">

                    <div class="row my-3">
                        <div class="col-8 mx-auto border p-2">
                            <div class="">
                                <p class="mb-2">Delivery Address:
                                    <a href="{% url 'delivery' %}" class="float-right pr-4" >
                                        <small><u>Change</u></small>
                                    </a>
                                </p>
                                <p class="mb-1">{{ name|capfirst }},</p>
                                <p>{{ address|capfirst }}, {{ town|capfirst }}, {{ county|capfirst }}..</p>
                            </div>
                        </div>
                    </div>

                    <form role="form" method="post" id="payment-form" action="{% url 'checkout' %}">
                        {% csrf_token %}
                        <legend class="centered border-bottom w-50 mx-auto mt-5">Payment Method</legend>

                        <div class="row">
                            <div class="col-12">
                                <div class="row my-3">
                                    <div class="col-12 ">
                                        <div id="credit-card-errors" style="display: none;">
                                            <div class="alert-message block-message error centered" id="stripe-error-message"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col mx-auto">
                                <div class="row">
                                    <div class="col-8 mx-auto">
                                        {{ payment_form | as_bootstrap }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col centered">
                                        <input class="btn btn-primary mt-4" id="submit_payment_btn" name="commit" type="submit" value="Submit Payment">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        {% include 'components/cart-items.html' %}
</div>
{% endblock %}