{% extends "base.html" %}
{% load bootstrap_tags %}

{% block title %}XYfitenss | Delivery Details{% endblock %}

{% block breadcrumb %}
    <div class="container-fluid my-3 pl-4">
        <div class="row my-2">
            <div class="col-10 col-md-5 mx-auto my-4">
                <div id="breadcrumbs" class="bread d-flex justify-content-around">
                    <a class="checkout-icon centered check-current" href="{% url 'delivery' %}">
                        <i class="fas fa-truck-loading fa-2x check-fa icon-current"></i>
                    </a> 
                        <i class="fas fa-greater-than fa-2x my-auto"></i>
                   {% if total != 0 and request.session.delivery_data %}
                    <a class="checkout-icon centered" href="{% url 'checkout' %}">
                        <i class="far fa-credit-card fa-2x check-fa"></i>
                    </a> 
                    {% else %}
                    <a class="tick-icon centered">
                        <i class="far fa-credit-card fa-2x check-fa"></i>
                    </a> 
                    {% endif %}
                        <i class="fas fa-greater-than fa-2x my-auto"></i> 
                    <a class="tick-icon centered">
                        <i class="fas fa-check fa-2x check-fa" ></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock breadcrumb %}

{% block content %}

<div class="container mt-5 no-content">
    <div class="row">
        <div class="col-12 col-md-7 col-lg-8 mb-3">
            <div class="row">
                <div class="col-10 mx-auto">
                    <form method="POST">
                        {% csrf_token %}
                        <legend class="centered border-bottom w-50 mx-auto mb-3 pb-2">Delivery Details</legend>
                        {{ order_form | as_bootstrap }}
                        <div class="centered my-4">
                        {% if total == 0 %}
                            <button type="button" class="btn btn-primary mt-4" disabled 
                            data-toggle="tooltip" data-placement="right" title="Can't checkout if you've no items!">
                                No items in cart
                            </button>
                        {% else %}
                            <button type="submit" class="btn btn-outline-primary mt-4">Confirm Details</button>
                        {% endif %}
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% include 'components/cart-items.html' %}
    </div>
</div>

{% endblock %}
