{% extends "base.html" %}
{% load bootstrap_tags %}

{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col-8">
            <div class="row">
                <div class="col-10 mx-auto">
                    <form method="POST">
                        {% csrf_token %}
                        {{ order_form | as_bootstrap }}
                        <div class="centered my-4">
                            <button type="submit" class="btn btn-outline-primary mt-4">Confirm Details</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% include 'components/cart-items.html' %}
    </div>
</div>

{% endblock %}
