{% extends "base.html" %}
{% load bootstrap_tags %}

{% block title %}XYfitenss | Checkout{% endblock %}

{% block breadcrumb %}
    <div class="container-fluid my-3 pl-4">
        <div class="row">
            <div class="col-10 mx-auto">
                <div id="breadcrumbs" class="bread centered d-flex justify-content-around">
                    <a href="{% url 'delivery' %}">Delivery</a> -
                    Checkout
                </div>
            </div>
        </div>
    </div>
{% endblock breadcrumb %}

{% block content %}

<div class="container mt-5 no-content">
    <div class="row">
        <div class="col-12 col-md-7 col-lg-8 mb-3">
            <div class="row">
                <div class="col-10 mx-auto">
                    <form method="POST">
                        {% csrf_token %}
                        <legend class="centered border-bottom w-50 mx-auto mb-3 pb-2">Delivery Details</legend>
                        {{ order_form | as_bootstrap }}
                        <div class="centered my-4">
                        {% if total == 0 %}
                            <button type="button" class="btn btn-primary mt-4" disabled 
                            data-toggle="tooltip" data-placement="right" title="Can't checkout if you've no items!">
                                No items in cart
                            </button>
                        {% else %}
                            <button type="submit" class="btn btn-outline-primary mt-4">Confirm Details</button>
                        {% endif %}
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% include 'components/cart-items.html' %}
    </div>
</div>

{% endblock %}
