{% extends "base.html" %}

{% block title %}XYfitenss | Thank You{% endblock %}

{% block breadcrumb %}
    <div class="container-fluid my-3 pl-4">
        <div class="row my-2">
            <div class="col-10 col-md-5 mx-auto my-4">
                <div id="breadcrumbs" class="bread d-flex justify-content-around">
                    <a class="tick-icon centered">
                        <i class="fas fa-truck-loading fa-2x check-fa"></i>
                    </a> 
                        <i class="fas fa-greater-than fa-2x my-auto"></i>
                    <a class="tick-icon centered">
                        <i class="far fa-credit-card fa-2x check-fa"></i>
                    </a> 
                        <i class="fas fa-greater-than fa-2x my-auto"></i> 
                    <a class="tick-icon centered confirmed">
                        <i class="fas fa-check fa-2x check-fa"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock breadcrumb %}

{% block content %}

    <div class="container my-5 vh-100">
        <div class="row">
            <div class="col-9 col-md-6 mx-auto bg-light">
                <div class="thanks centered my-5 p-3">
                    <h2 class="my-4 border-bottom p-2 w-75 mx-auto"> Thank you! :)</h2>
                    <p class="my-4">
                        Your order is being processed, please check your email 
                        "{{request.user.email}}" for confirmation
                    </p>
                    <div class="centered mt-5">
                        <a href="{% url 'home' %}" class="btn btn-primary btn-md active" role="button"
                        aria-pressed="true">Back to Site</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}