{% extends "base.html" %}
{% load bootstrap_tags %}

{% block breadcrumb %}
    <div class="container-fluid my-3 pl-4">
        <div class="row">
            <div class="col-10 mx-auto">
                <div id="breadcrumbs" class="bread centered d-flex justify-content-around">
                    <a href="{% url 'delivery' %}">Delivery</a> -
                    <a href="{% url 'checkout' %}">Checkout </a> -
                    Order Confirmed
                </div>
            </div>
        </div>
    </div>
{% endblock breadcrumb %}

{% block content %}

    <div class="container my-5">
        <div class="row">
            <div class="col-6 mx-auto bg-light">
                <div class="thanks centered my-5 p-3">
                    <h2 class="my-4 border-bottom p-2 w-50 mx-auto"> Thank you! :)</h2>
                    <p class="my-4">Your order is being processed, please check your emails for confirmation</p>
                    <div class="centered mt-5">
                        <a href="{% url 'home' %}" class="btn btn-primary btn-md active" role="button"
                        aria-pressed="true">Back to Site</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}