{% extends "base.html" %}
{% load bootstrap_tags %}

{% block title %}XYfitenss | Login{% endblock %}

{% block content %}
<div class="container my-5 no-content">
	<div class="row">
		<div class="col-9 col-md-5 my-4 mx-auto border">
            <form method="POST" class="my-5">
                {% csrf_token %} {{ login_form | as_bootstrap}}
                <div class="centered mt-3">
                    <button type="submit" class="btn btn-primary btn-md active mt-4"
                    aria-pressed="true" role="button">Login</button>
                    <input type="hidden" name="next" value="{{next}}" />
                </div>
            </form>
        </div>
	</div>
    <div class="row mt-2">
        <div class="col-9 col-md-5 mx-auto pl-0">
            <p>Forgot Password? <a href="{% url 'password_reset' %}">Reset</a></p>
        </div>
    </div>
</div>
{% endblock %}