{% extends 'base.html' %}
{% load bootstrap_tags %}

{% block breadcrumb %}
    <div class="container-fluid my-3 pl-4">
        <div class="row my-3">
            <div class="col pl-3">
                <div id="breadcrumbs" class="bread">
                    <a href="{% url 'profile' %}">Profile</a> -
                    Change Password
                </div>
            </div>
        </div>
    </div>
{% endblock breadcrumb %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-6">
			<form method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				{{ form | as_bootstrap }}
				<button type="submit" class="btn btn-outline-success">Update Password</button>
			</form>
		</div>
	</div>
</div>

{% endblock %}