{% extends 'base.html' %}

{% block title %}XYfitness | {{ user.username | capfirst }}{% endblock %}

{% block breadcrumb %}
    <div class="container-fluid my-3 pl-4">
        <div class="row my-3">
            <div class="col pl-3">
                <div id="breadcrumbs" class="bread">
                    <a href="/">Home </a> <i class="fas fa-long-arrow-alt-right"></i>  
                    <a href="{% url 'profile' %}">{{ user.username | capfirst }}'s Profile</a>
                </div>
            </div>
        </div>
    </div>
{% endblock breadcrumb %}

{% block content %}

<div class="container my-5 no-content">
    <div class="row my-2">
        <div class="col-9 col-md-6 mx-auto centered">
            <p><img class="img-fluid rounded" src="{{ MEDIA_URL }}{{ user.profile.profile_pic }}"></p>
            <h2>{{ user.username }}</h2>
            <p>{{ user.email }}</p>
            {% if user.first_name %}
                <p>" {{ user.first_name | capfirst }}
                    {% if user.last_name %}
                        {{ user.last_name | capfirst }}
                    {% endif %} "
                </p>
            {% endif %}
        </div>
    </div>
    <div class="row my-2">
        <div class="col centered">
            <a href="{% url 'update_profile' %}">Update Profile</a>
        </div>
    </div>
    <div class="row">
        <div class="col centered">
            <a href="{% url 'update_password' %}">Update password</a>
        </div>
    </div>
    <div class="row my-2">
        <div class="col centered">
            <a href="{% url 'update_profile_pic' %}">Update pic</a>
        </div>
    </div>
</div>

{% endblock %}