{% extends "base.html" %}
{% load bootstrap_tags %}

{% block title %}XYfitenss | Sign Up{% endblock %}

{% block content %}
<div class="container my-5 vh-full">
	<div class="row ">
		<div class="col-6 mx-auto mt-5">
			<form method="POST" enctype="multipart/form-data">
				{% csrf_token %} {{ registration_form | as_bootstrap }}
                <div class="centered">
				    <button type="submit" class="btn btn-primary btn-md active mt-4"
                    aria-pressed="true" role="button">Register</button>
                </div>
			</form>
		</div>
	</div>
    <div class="row">
        <div class="col-6 mx-auto">
            {% for error_field, error_message in registration_form.errors.items %}
            {{ error_field|striptags }}: {{ error_message|striptags }}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}