{% extends 'base.html' %}
{% load bootstrap_tags %}
{% block content %}

<div class="container">
	<div class="row">
		<div class="col-6">
			<form method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				{{ form | as_bootstrap }}
				<button type="submit" class="btn btn-outline-success">Add Details</button>
			</form>
		</div>
	</div>
    <div class="row mt-2">
		<div class="col-12">
            <a href="{% url 'update_password' %}" class="btn btn-primary btn-md active" role="button"
                aria-pressed="true">Update Password</a>
        </div>
	</div>
</div>

{% endblock %}