{% extends 'base.html' %}

{% block title %}XYfitenss | Cart Items{% endblock %}

{% block content %}

<div class="container no-content">

    <div class="row mt-5">
        <div class="col-6 col-md-4 mr-auto">
            <a href="{% url 'products' %}"><i class="fas fa-long-arrow-alt-left"></i> All products</a>
        </div>
        <div class="col-5 col-md-4 ml-auto">
            <div>
                <p class="text-right mb-4">Total items in basket : {{ product_count }}</p>
                <p class="float-right">
                    {% if product_count == 0 %}
                        <button type="button" class="btn btn-success" disabled>Checkout</button>
                    {% else %}
                        <a href="{% url 'delivery' %}" class="btn btn-outline-success" role="button">Checkout</a>
                    {% endif %}
                </p>
            </div>
        </div>
    </div>

    <div class="row mt-3 mb-5">
        <div class="col mx-auto">
            <h2 class="centered">My Shopping Bag</h2>
        </div>
    </div>
    
    {% for item in cart_items %}
    
    <div class="row my-5">
        <div class="col-5 col-lg-2 mx-auto">
            <div>
                <a href="{% url 'single_prod' item.product.id %}">
                    <img class="img-fluid cart-prod-pic"  src="{{ MEDIA_URL }}{{ item.product.image1 }}">
                </a>
            </div>
        </div>
        <div class="col-6 col-lg-1 mx-auto">
            <div class="d-none d-lg-inline-block">
                <a href="{% url 'single_prod' item.product.id %}">
                    <p class="mt-2">{{ item.product.name }}</p>
                </a>
            </div>
            <div class="row d-lg-none">
                <div class="col">
                    <div class="row">
                        <div class="col-6 mx-auto">
                            <a href="{% url 'single_prod' item.product.id %}">
                                <p class="mt-2">{{ item.product.name }}</p>
                            </a>
                        </div>
                        <div class="col-6">
                            <div class="float-right text-right">
                                <form method="post" action="{% url 'del_cart_item' item.product.id %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="sizez" value="{{item.size}}" />
                                    <button type="submit" class="rounded-circle mt-1"><i class="fas fa-times"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                        <div class="float-right mt-5">
                            Total: <i class="fas fa-euro-sign"></i> {{ item.this_total }}
                        </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        {% if item.product.category == "P" %}
            <div class="col-12 col-lg-5">
                <div>
                    <p class="mt-2 centered">
                        <strong><i>Note:</i></strong> our plans are emailed as a PDF.
                        Please check your email inbox for a copy once order has been placed.
                    </p>
                </div>
            </div>
        {% else %}
            <div class="col-12 col-lg-5 mx-auto update-input">
                <form method="post" action="{% url 'change_cart' item.id %}">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-6 mx-auto">
                            <div class="centered">
                                <span class="minus"><i class="fas fa-minus-circle fa-2x"></i></span>
                                <input name="quantity" class="count" type="number" min="1" max="50" value="{{item.quantity}}" required>
                                <span class="plus"><i class="fas fa-plus-circle fa-2x"></i></span>
                            </div>
                        </div>
                        <div class="col-6 mx-auto">
                            <div class="">
                                {% if item.product.category == "P" %}
                                    <input type="hidden" name="size" value="D" />
                                    <input type="hidden" name="oldsize" value="{{item.size}}" />
                                {% else %}
                                    <select name="size" type="submit" class="form-control mx-auto size-form" data-title="Select size" 
                                    data-style="btn-default btn-block" data-menu-style="dropdown-blue">
                                        <option {% if item.size == 'XS' %} selected {% endif %} value="XS">XS</option>
                                        <option {% if item.size == 'S' %} selected {% endif %} value="S">S</option>
                                        <option {% if item.size == 'M' %} selected {% endif %} value="M">M</option>
                                        <option {% if item.size == 'L' %} selected {% endif %} value="L">L</option>
                                        <option {% if item.size == 'XL' %} selected {% endif %} value="XL">XL</option>
                                    </select>
                                    <input type="hidden" name="oldsize" value="{{item.size}}" />
                                {% endif %}

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mx-auto">
                            <div class="centered">
                                <button type="submit" class="btn btn-outline-warning update-cart">Update Item</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        {% endif %}
        <div class="col-2 mx-auto d-none d-lg-inline-block">
            <div class="text-right pr-5">
                Total: <i class="fas fa-euro-sign"></i> {{ item.this_total }}
            </div>
        </div>
        <div class="col-1 mx-auto d-none d-lg-inline-block">
            <div class="">
                <form method="post" action="{% url 'del_cart_item' item.product.id %}">
                    {% csrf_token %}
                    <input type="hidden" name="sizez" value="{{item.size}}" />
                    <button type="submit" class="rounded-circle"><i class="fas fa-times"></i></button>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}


<div class="row my-5">
    <div class="col-6 col-md-4 ml-auto">
        <p>Subtotal <i class="fas fa-euro-sign float-right"> {{ subtotal }}</i></p>
        <p>Delivery fee: <i class="fas fa-euro-sign float-right"> {{ del_total }}</i></p>
        <p>Total <i class="fas fa-euro-sign float-right"> {{ total }}</i></p>
        <p class="float-right">
            {% if product_count == 0 %}
                <button type="button" class="btn btn-success" disabled>Checkout</button>
            {% else %}
                <a href="{% url 'delivery' %}" class="btn btn-outline-success" role="button">Checkout</a>
            {% endif %}
        </p>
    </div>
</div>

</div>
{% endblock %}