{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block content %}

<div class="container">

    {% for item in cart_items %}
    
    <div class="row mt-3">
        <div class="col-6 mt-2 mx-auto">
        <div class="product" style="background-image: url('{{ MEDIA_URL }}{{ item.product.image }}')"></div>
        
        <div>
            <h3>{{ item.product.name }}</h3>
            <p class="product-description">{{ item.product.description }}</p>
            <p><i class="fas fa-euro-sign"></i> {{ item.product.price }}</p>
                <form method="post" action="{% url 'change_cart' item.id %}">
                    {% csrf_token %}
                    <div>
                        <div class="input-group">
                            <div>Qty</div>
                            <div><input name="quantity" type="number" min="0" max="99" required></div>
                            <div>{{item.quantity}}</div>
                            <div>{{item.size}}</div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-outline-warning mt-2">Change</button>
                </form>
        </div>
        </div>
    </div>
    {% endfor %}


<div class="row mt-3">
    <div class="col-6 mx-auto">
        <div class="check">
            <p>Total</p>
            <p><i class="fas fa-euro-sign"></i> {{ total }}</p>
            <a href="{% url 'checkout' %}" class="btn btn-outline-success" role="button">Checkout</a>
        </div>
    </div>
</div>

</div>
{% endblock %}