{% extends 'base.html' %}
{% load bootstrap_tags %}

{% block title %}XYfitenss | Add Testimonial{% endblock %}

{% block breadcrumb %}
    <div class="container-fluid my-3 pl-4">
        <div class="row my-3">
            <div class="col pl-3">
                <div id="breadcrumbs" class="bread">
                    <a href="/">Home </a> 
                        <i class="fas fa-long-arrow-alt-right"></i> 
                    <a href="{% url 'testimonials' %}">Testimonials</a> 
                        <i class="fas fa-long-arrow-alt-right"></i> Add Testimonial
                </div>
            </div>
        </div>
    </div>
{% endblock breadcrumb %}

{% block content %}
    {% if user.is_authenticated  %}
        <div class="container my-5 no-content">
            <div class="row">
                <div class="col-10 col-md-7 mx-auto">
                    <h3 class="centered my-3 add-review-title mx-auto p-2">Share the experience:</h3>
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form | as_bootstrap }}
                        <div class="centered my-5">
                            <button type="submit" class="btn btn-outline-primary">Add Testimonial</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row centered my-3">
                <div class="col">
                    <a id="backButton" class="btn btn-primary text-white">Cancel</a>	
                </div>
            </div>
        </div>
    {% endif %}
{% endblock content %}