{% extends 'base.html' %}
{% block content %}

<div class="container">

{% for review in reviews %}
<div class="row">
<div class="col-4">
    <div class="div">
    <div class="product" style="background-image: url('{{ MEDIA_URL }}{{ review.image }}')"></div>
        <h3><a href="{% url 'review' review.id %}">{{ review.title }}</a></h3>
        <p>{{ review.content }}</p>
        <p>{{ review.author }}</p>
        <p>{{ review.date|date:"F, Y" }}</p>
    </div>
</div>
</div>
{% endfor %}
</div>


{% endblock %}