{% extends 'base.html' %}
{% block content %}

<div class="container">

{% for review in reviews %}
<div class="row">
<div class="col-4">
    <div class="div">
    <div class="product" style="background-image: url('{{ MEDIA_URL }}{{ review.image }}')"></div>
        <h3>{{ review.title }}</h3>
        <p>{{ review.content }}</p>
        <p>{{ review.author }}</p>
        <p>{{ review.date|date:"F, Y" }}</p>
        <p><a href="{% url 'single_review' review.id %}">link to this post</a></p>
    </div>
</div>
</div>
{% endfor %}
</div>

{% if user.is_authenticated  %}
<p><a href="{% url 'new_review' %}">Add a review!</a></p>
{% endif %}

{% endblock %}