{% extends 'base.html' %}

{% block breadcrumb %}
    <div class="container-fluid my-3 pl-4">
        <div class="row my-3">
            <div class="col pl-3">
                <div id="breadcrumbs" class="bread">
                    <a href="/">Home </a> - 
                    <a href="{% url 'all_reviews' %}">Testimonials</a>
                </div>
            </div>
        </div>
    </div>
{% endblock breadcrumb %}

{% block content %}

<div class="container">

{% for review in reviews %}
    <div class="row my-3">
        <div class="col-8 mx-auto">
            <div class="border-bottom p-2">
                <h4 class="centered border-bottom w-50 mx-auto p-2 mb-3">{{ review.title | title |truncatewords:3 }}</h4>
                <p class="my-1">{{ review.content | capfirst }}
                {% if review.before_picture and review.after_picture %}
                    <a href="{% url 'single_review' review.id %}"><u>see pics here</u></a>.
                {% endif %}
                </p>
                <p class="my-2 float-right pr-3">{{ review.date|date:"F, Y" }}</p>
                {% if request.user == review.author %}
                    <p class="my-3">{{ review.author.first_name | capfirst }} "{{ review.author }}" (you!)
                {% else %}
                    <p class="my-3">{{ review.author.first_name | capfirst }} "{{ review.author }}"
                {% endif %}
                    <img class="user-image" src="{{ MEDIA_URL }}{{ review.image }}">
                </p>
                <p class="mb-2"><a href="{% url 'single_review' review.id %}">View Post</a></p>
            </div>
        </div>
    </div>
{% endfor %}

{% if user.is_authenticated  %}
    <div class="row my-4">
        <div class="col-6 mx-auto">
            <p class="centered">
                <a href="{% url 'new_review' %}" class="btn btn-outline-primary" tabindex="-1" role="button" aria-disabled="true">Add your Experience!</a>
            </p>
        </div>
    </div>
{% endif %}

</div>


{% endblock %}