{% extends 'base.html' %}

<!-- page title -->
{% block title %}XYfitness | {{ review.author|title }}'s Testimonial{% endblock %}

<!-- breadcrumb showing path -->
{% block breadcrumb %}
    <div class="container-fluid my-3 pl-4">
        <div class="row my-3">
            <div class="col pl-3">
                <div id="breadcrumbs" class="bread">
                    <a href="/">Home </a> 
                        <i class="fas fa-long-arrow-alt-right"></i> 
                    <a href="{% url 'testimonials' %}">Testimonials</a> 
                        <i class="fas fa-long-arrow-alt-right"></i> 
                        {{ review.author|title }}'s testimonial
                </div>
            </div>
        </div>
    </div>
{% endblock breadcrumb %}

{% block content %}

<div class="container my-5 no-content">
	<div class="row">
		<div class="col-10 col-md-6 mx-auto p-2">
            <!-- if before and after pics they are shown here side by side -->
            {% if review.before_picture and review.after_picture %}
                <div class="row mt-5">
                <!-- pics take up rows to themselves on smaller screens -->
                    <div class="col-12 col-md-6 mx-auto">
                        <div class="my-3">
                            <h3 class="centered mb-3">Before..</h3>
                            <img class="before-after-pic" src="{{ MEDIA_URL }}{{ review.before_picture }}">
                        </div>
                    </div>
                    <div class="col-12 col-md-6 mx-auto before-after-border">
                        <div class="my-3">
                            <h3 class="centered mb-3">After!</h3>
                            <img class="before-after-pic" src="{{ MEDIA_URL }}{{ review.after_picture }}">
                        </div>
                    </div>
                </div>
            {% endif %}
            <!-- same content in same format as seen on the previous all testimonials page -->
            <div class="row mt-5">
                <div class="col">
                    <h4 class="centered border-bottom w-75 mx-auto p-2 mb-3">{{ review.title | title }}</h4>
                </div>
            </div>
            <div class="row">
                <div class="col centered">
                    <p>{{ review.content | capfirst }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col centered">
                {% if request.user == review.author %}
                    <p class="float-right">"{{ review.author }}",  {{ review.author.first_name | capfirst }} (you!)
                        <img class="user-image" src="{{ MEDIA_URL }}{{ review.image }}">
                    </p>
                {% else %}
                    <p class="float-right">"{{ review.author }}", {{ review.author.first_name | capfirst }} 
                         <img class="user-image" src="{{ MEDIA_URL }}{{ review.image }}">
                    </p>
                {% endif %}
                </div>
            </div>
            <!-- if user is the author they will see these links to edit or delete their review -->
            {% if review.author == user %}
                <div class="row mt-5">
                    <div class="col mx-auto">
                        <div class="centered">
                            <a href="{% url 'edit_review' review.id %}" >Edit</a> /
                            <a href="{% url 'delete_review' review.id %}" >Delete</a>
                        </div>
                    </div>
                </div>
            {% endif %}
            <!-- back to all testimonials -->
            <div class="row centered my-5">
                <div class="col">
                    <a href="{% url 'testimonials' %}" class="btn btn-primary text-white">Back</a>	
                </div>
            </div>
		</div>
	</div>
</div>

{% endblock content %}