{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- favicon files -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ MEDIA_URL }}images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ MEDIA_URL }}images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ MEDIA_URL }}images/favicons/favicon-16x16.png">

    <title>{% block title %}XYfitness{% endblock %}</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@9.10.12/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
</head>

<header>
{% include 'layout/navbar.html' %}
</header>

<body>

{% block breadcrumb %}
{% endblock breadcrumb %}

    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                {% if message.tags == "success" %}
                <div class="alert alert-light mb-0">
                    {{ message|capfirst }}
                </div>
                {% elif message.tags == "error" %}
                <div class="alert alert-dark mb-0">
                    {{ message|capfirst }}
                </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}

{% block content %}
{% endblock %}

{% include 'layout/scrolltop.html' %}

{% include 'layout/footer.html' %}

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9.10.12/dist/sweetalert2.all.min.js"></script>
<script type="text/javascript" src="{% static 'js/script.js' %}"></script>

{% block head_js %}
{% endblock head_js %}

{% load sweetify %}
{% sweetify %}

</body>
</html>