<!-- used in checkout views to show summary of cart items -->
<div class="col-12 col-md-5 col-lg-4 mx-auto mb-3">
    <div class="row">
        <div class="col border-bottom pb-2">
            <h5>Order summary
                <!-- brings user back to cart view to edit their items -->
                <a class="text-right float-right pr-4" href="{% url 'view_cart' %}">
                    <small><u>Edit</u></small>
                </a>
            </h5>
        </div>
    </div>
    {% for item in cart_items %}
    <div class="row my-2 pt-2">
        <div class="col-4">
            <!-- product image -->
            <img class="checkout-pic" src="{{ MEDIA_URL }}{{ item.product.image1 }}">
        </div>
        <div class="col-5">
            <!-- product description vut off after 16 words -->
            <p class="text-muted mb-1">{{ item.product.name|truncatechars:16 }}</p>
            <!-- product size dependinf on category -->
            {% if item.product.category == "P" %}
                <input type="hidden" name="size" value="D" />
            {% else %}
                <p class="text-muted mb-1">Size: {{ item.product.size }}</p>
            {% endif %}
            <!-- amount of this item in the basket -->
            <p class="text-muted">Quantity: {{ item.quantity }}</p>
        </div>
        <div class="col-3">
            <!-- total price of this particular item -->
            <i class="fas fa-euro-sign text-muted"> {{ item.this_total }}</i>
        </div>
    </div>
    {% endfor %}
    <div class="row mt-3 border-top pt-2">
        <div class="col ml-auto">
            <div>
            <!-- subtotal and total price depends on product type  -->
                <p>Subtotal <i class="fas fa-euro-sign float-right"> {{ subtotal }}</i></p>
                <p class="text-muted">Delivery fee: <i class="fas fa-euro-sign float-right"> {{ del_total }}</i></p>
                <p class="bold">Total <i class="fas fa-euro-sign float-right"> {{ total }}</i></p>
            </div>
        </div>
    </div>
</div>