<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">About</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="{% url 'products' %}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Products
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'products' %}">All Products</a>
            <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'plans' %}">Plans</a>
                <a class="dropdown-item" href="{% url 'apparel' %}">Apparel</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'all_reviews' %}">Testimonials</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'contact' %}">Contact</a>
        </li>
        </ul>
        <ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
        <li class="nav-item px-2">
            <i class="fas fa-user">{{ user }}</i>
        </li>
        <li class="nav-item px-2">
            <a class="nav-link" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> out</a>
        </li>
        {% else %}
        <li class="nav-item px-2">
            <a class="nav-link" href="{% url 'login' %}"><i class="fas fa-sign-in-alt"></i> Log In</a>
        </li>
        <li class="nav-item px-2">
            <a class="nav-link" href="{% url 'register' %}"><i class="fas fa-sign-in-alt"></i> Sign Up</a>
        </li>
        {% endif %}
        <li class="nav-item px-2">
            <a href="{% url 'view_cart' %}">
                <i class="fa fa-shopping-cart fa-2x"></i>
                {% if product_count > 0 %}
                    <label class="badge badge-warning">{{ product_count }}</label>
                {% endif %}
            </a>
        </li>
        <li class="nav-item px-2">
        <form action="{% url 'search' %}" method="get" class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="query">
            <button class="btn btn-outline-success my-2 my-sm-0" type="search">Search</button>
        </form>
        </li>
        </ul>
    </div>
</nav>