
<div class="row">

    {% for product in products %}
    <div class="col-4 my-4">
        <div class="row">
            <div class="col">
                <a href="{% url 'single_prod' product.id %}">
                    <img class="product" src="{{ MEDIA_URL }}{{ product.image1 }}">
                </a>
                <h3>{{ product.name }}</h3>
                <h5><i class="fas fa-euro-sign"></i> {{ product.price }}</h5>
                <p>
                {% for star in stars %}
                    {% if product.id == star.id %}
                        {% if star.avg_review %}
                        <div class="div">
                            {% include 'components/starrating.html' %} 
                        </div>
                        {% endif %} 
                    {% endif %} 
                {% endfor %} 
                </p>
            </div>
        </div>
    </div>
    {% endfor %}

</div>
