<nav>
	<div class="nav nav-tabs" id="nav-tab" role="tablist">
		<a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
			aria-controls="nav-home" aria-selected="true">Info</a>
		<a class="nav-item nav-link" id="nav-reviews-tab" data-toggle="tab" href="#nav-reviews" role="tab"
			aria-controls="nav-reviews" aria-selected="false">Reviews ({{product.productreview_set.count}})</a>
		<a class="nav-item nav-link" id="nav-shipping-tab" data-toggle="tab" href="#nav-shipping" role="tab"
			aria-controls="nav-shipping" aria-selected="false">Shipping</a>
        {% if product.category == "A" %}
        <a class="nav-item nav-link" id="nav-size-tab" data-toggle="tab" href="#nav-size" role="tab"
			aria-controls="nav-size" aria-selected="false">Size</a>
        {% endif %}
	</div>
</nav>
<div class="tab-content mt-3 pr-3" id="nav-tabContent">
	<div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
		{{ product.description }}
    </div>
	<div class="tab-pane fade " id="nav-reviews" role="tabpanel" aria-labelledby="nav-reviews-tab">
		<div class="row my-2">
			<div class="col">
				<h6 class="mt-2">
					{% if product.productreview_set.count == 0 %}
					No reviews
					{% elif product.productreview_set.count == 1 %}
					{{ product.productreview_set.count }} review
					{% elif product.productreview_set.count > 1 %}
					{{ product.productreview_set.count }} total reviews
					{% endif %}
					<a class="text-muted" href="{% url 'review_prod' product.id %}" role="button" aria-pressed="true"><u>Add Review</u></a>
                </h6>
			</div>
		</div>
        {% for review in product.productreview_set.all %}
		<div class="row mb-2 border-bottom">
			<div class="col mb-2 px-3 pt-0">
				<h4 class="mb-3">{{ review.title }}</h4>
				<p class="pr-3">{{ review.content }}</p>
				{% if review.user.first_name %}
				<p><i>"{{ review.user.first_name }}"</i> on {{ review.date }}</p>
				{% else %}
				<p><i>"{{ review.user }}"</i> on {{ review.date }}</p>
				{% endif %}
				<p>"{{ review.rating }}/5"
					{% if review.user == user %}
					<a href="{% url 'delete_prod_review' review.id %}">(delete</a> /
					<a href="{% url 'edit_review_prod' review.id  %}"> change review)</a>
					{% endif %}
				</p>
			</div>
		</div>
        {% endfor %}
	</div>
	<div class="tab-pane fade" id="nav-shipping" role="tabpanel" aria-labelledby="nav-shipping-tab">
    {% if product.category == "A" %}
		<p>This website uses a courier to deliver its products.</p>
        <p>Deliveries will take place between 9am and 6pm, mon-fri, excluding weekends and bank holidays.</p>
        <p>Items will be delivered within 10 working days</p>
        <p>if there are any issues with the processing of your item, then you will be notofied by email.</p>
    {% else %}
        Plans are emailed in PDF format once purchased, please check your email for a download file.
    {% endif %}
	</div>
    {% if product.category == "A" %}
    <div class="tab-pane fade" id="nav-size" role="tabpanel" aria-labelledby="nav-size-tab">
		<p>This item is unisex, so if you are ordering for:</p>
        <p>Male - please order once size <u>higher</u> than you normal fitting size</p>
        <p>Female - please order once size <u>lower</u> than you normal fitting size</p>
	</div>
    {% endif %}
</div>

