
<div class="row">

    {% for product in products %}
    <div class="col-4 my-4">
        <div class="row">
            <div class="col">
                <a href="{% url 'single_prod' product.id %}">
                    <img class="product rounded" src="{{ MEDIA_URL }}{{ product.image1 }}">
                </a>
                <h5 class="mt-3">
                    <a href="{% url 'single_prod' product.id %}">{{ product.name }}</a>
                </h5>
                <p class="mb-0"><i class="fas fa-euro-sign"></i> {{ product.price }}</p>
                <p class="mt-1">
                    {% for star in stars %}
                        {% if product.id == star.id %}
                            {% if star.avg_review %}
                                {% include 'components/starrating.html' %} 
                            {% endif %} 
                        {% endif %} 
                    {% endfor %} 
                </p>
            </div>
        </div>
    </div>
    {% endfor %}

</div>
