<div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="6000">
	<div class="carousel-inner">
		<div class="carousel-item">
			<div class="centered mx-auto w-50">
				<p class="my-3">"{{ reviews.1.content | capfirst }}"
				</p>
				<p class="my-4">{{ reviews.1.author.first_name | capfirst }} "{{ reviews.1.author }}"</p>
			</div>
		</div>
		<div class="carousel-item active">
			<div class="centered mx-auto w-50">
				<p class="my-2">"{{ reviews.2.content | capfirst }}"
				</p>
				<p class="my-4">{{ reviews.2.author.first_name | capfirst }} "{{ reviews.2.author }}"</p>
			</div>
		</div>
		<div class="carousel-item">
			<div class="centered mx-auto w-50">
				<p class="my-3">"{{ reviews.3.content | capfirst }}"
				</p>
				<p class="my-4">{{ reviews.3.author.first_name | capfirst }} "{{ reviews.3.author }}"</p>
			</div>
		</div>
		<div class="carousel-item">
			<div class="centered mx-auto w-50">
				<p class="my-3">"{{ reviews.4.content | capfirst }}"
				</p>
				<p class="my-4">{{ reviews.4.author.first_name | capfirst }} "{{ reviews.4.author }}"</p>
			</div>
		</div>
		<div class="carousel-item">
			<div class="centered mx-auto w-50">
				<p class="my-3">"{{ reviews.5.content | capfirst }}"
				</p>
				<p class="my-4">{{ reviews.5.author.first_name | capfirst }} "{{ reviews.5.author }}"</p>
			</div>
		</div>
	</div>
	<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
		<span aria-hidden="true">
            <i class="fas fa-chevron-left fa-4x"></i>
        </span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
		<span aria-hidden="true">
            <i class="fas fa-chevron-right fa-4x"></i>
        </span>
		<span class="sr-only">Next</span>
	</a>
</div>