<!-- some small print fixed to bottom of the page -->
<footer class="container-fluid mt-0 py-3 mx-auto footer darkest-bg">
    <div class="row my-3">
        <div class="col mx-auto centered">
            <div class="row">
                <div class="col-5 col-md-3 col-lg-2 mx-auto">
                    <p class="logo mx-auto">
                        <img class="img-fluid" src="{{ MEDIA_URL }}images/XY.png">
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p class="text-white">Created by: Brian Scanlon, {% now "Y" %}</p>
                </div>
            </div>
            <div class="row centered p-3">
                <div class="d-flex justify-content-center p-3 mx-auto">
                    <div class="row">
                        <div class="col-4 mx-auto">
                            <a href="https://www.facebook.com/" target="_blank" rel="noopener"
                            data-toggle="tooltip" data-placement="bottom" title="Connect on FB">
                                <i class="fab fa-facebook fa-3x footer-icon"></i>
                            </a>
                        </div>
                        <div class="col-4 mx-auto">
                            <a href="https://www.instagram.com/" target="_blank" rel="noopener"
                            data-toggle="tooltip" data-placement="bottom" title="Follow me on Instagram">
                                <i class="fab fa-instagram fa-3x footer-icon"></i>
                            </a>
                        </div>
                        <div class="col-4 mx-auto">
                            <a href="https://www.youtube.com/" target="_blank" rel="noopener"
                            data-toggle="tooltip" data-placement="bottom" title="See our Youtube tutorials">
                                <i class="fab fa-youtube fa-3x footer-icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>